{
    "swagger": "2.0",
    "info": {
        "description": "Essa é uma API aberta para acesso aos dados do portal [**SALIC.**](http://novosalic.cultura.gov.br/cidadao/consultar) \n\nSALIC é um sistema que reúne dados a respeito de propostas de projetos culturais a serem incentivados pelo Ministério da Cultura (**MINC**) por meio da lei Rouanet. Veja mais informações [aqui](http://www.cultura.gov.br/programa-nacional-de-apoio-a-cultura-pronac-).\n\n\n\n\n# **Formatos de Resposta** \n\n Atualmente a API suporta exportação dos dados nos formatos * <code>JSON</code>(padrão) * * <code>XML</code> e * <code>CSV</code>. A escolha do formato deve ser definido a cada chamada, por meio do campo de cabeçalho <code>Accept</code>. \n\n # **Limitação de uso** \n\nPara requisições sem autenticação, você pode fazer até **2000 requisições diárias**. Requisições não autenticadas estão ligadas ao endereço IP de origem, não ao usuário fazendo a requisição. \n\nO cabeçalho da resposta lhe diz tudo o que você precisa saber sobre o seu limite de uso atualmente:\n<table> <tr> <td>**Campo do Cabeçalho**</td> <td>**Descrição**</td> </tr>\n<tr> <td>X-RateLimit-Limit</td> <td>Número de requisições permitidas no período.</td> </tr>\n<tr> <td>X-RateLimit-Remaining</td> <td>Número de requisições restantes na janela de limite atual.</td> </tr>\n<tr> <td>X-RateLimit-Reset</td> <td>Tempo para que a janela de limite resete em segundos UTC epoch.</td> </tr>\n<tr> <td>Retry-After</td> <td>Segundos para tentar novamente ou a data http quando a janela de limite será resetada.</td> </tr>\n</table>\n\n\n # **Paginação** \n\n Para alguns recursos que possam gerar um grande volume de resultados, a API provê um sistema de  paginação. Ao fazer sua requisição, basta fazer uso dos campos <code>limit</code> **[1-100]** e <code>offset</code> **[0-Total-Count]** para navegar pelos resultados. Um campo de cabeçalho chamado <code>X-Total-Count</code> será enviado junto às respostas, denotando o total de entradas contidas na base de dados que atendam ao seu critério de busca.",
        "version": "0.2.1-beta",
        "title": "SALIC API",
        "termsOfService": "http://www.cultura.gov.br/programa-nacional-de-apoio-a-cultura-pronac-",
        "contact": {
            "name": "Laboratório de Dados Abertos do curso de Gestão da Informação da Universidade Federal de Goiás (http://www.gi.fic.ufg.br/lda/#)",
            "email": "ldaufg@gmail.com"
        },
        "license": {
            "name": "ODbL 1.0",
            "url": "http://opendatacommons.org/licenses/oDbl/summary/"
        }
    },
    "host": "hmg.api.salic.cultura.gov.br",
    "basePath": "/beta",
    "schemes": [
        "http"
    ],
    "produces": [
        "application/json",
        "application/xml",
        "text/csv"
    ],
    "paths": {
        "/projetos/{PRONAC}": {
            "get": {
                "tags": [
                    "projetos : Dados relativos a Projetos"
                ],
                "summary": "Busca um projeto por meio de seu número PRONAC",
                "operationId": "pronac_number",
                "parameters": [
                    {
                        "in": "path",
                        "name": "PRONAC",
                        "description": "Número do PRONAC",
                        "required": true,
                        "type": "string",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "$ref": "#/definitions/ProjetoDetail"
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Projeto com PRONAC fornecido não encontrado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "PRONAC inválido",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projetos/": {
            "get": {
                "tags": [
                    "projetos : Dados relativos a Projetos"
                ],
                "summary": "Busca projetos dado uma combinação de valores diversos de pesquisa",
                "operationId": "project_list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Número de projetos a serem retornados",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "minimum": 1,
                        "maximum": 100
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Número de paginação de resultados",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0
                    },
                    {
                        "in": "query",
                        "name": "PRONAC",
                        "description": "Número do PRONAC",
                        "required": false,
                        "type": "string",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "proponente",
                        "description": "Nome do proponente do projeto (valor exato ou parcial)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "cgccpf",
                        "description": "Cgc/Cpf do proponente",
                        "required": false,
                        "type": "string",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "nome",
                        "description": "Nome do projeto (valor exato ou parcial)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "area",
                        "description": "Código da Área do projeto",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "segmento",
                        "description": "Código do Segmento do projeto",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "UF",
                        "description": "Estado de origem no formato EE ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "ano_projeto",
                        "description": "Ano em que o projeto foi apresentado em dois dígitos. Formato AA",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "data_inicio",
                        "description": "Data de início no formato AAAA-MM-DD",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "data_termino",
                        "description": "Data de finalização no formato AAAA-MM-DD",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "data_inicio_min",
                        "description": "Data de início mínimo no formato AAAA-MM-DD",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "data_inicio_max",
                        "description": "Data de início máximo no formato AAAA-MM-DD",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "data_termino_min",
                        "description": "Data de término mínimo no formato AAAA-MM-DD",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "data_termino_max",
                        "description": "Data de término máximo no formato AAAA-MM-DD",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "sort",
                        "description": "Ordenar a busca por um dos campos : PRONAC, ano_projeto, data_inicio, data_termino. Formato: sort=CAMPO, sort=CAMPO:asc ou sort=CAMPO:desc ",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProjetoList"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            },
                            "X-Total-Count": {
                                "description": "Número total de objetos que atendem seu critério de busca",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Projetos com esses parâmetros não encontrados",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "Parametros fornecidos invalidos ",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projetos/areas": {
            "get": {
                "tags": [
                    "projetos : Dados relativos a Projetos"
                ],
                "summary": "Retorna todas as áreas disponíveis",
                "operationId": "projet_areas",
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Area"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Areas indisponiveis",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projetos/segmentos": {
            "get": {
                "tags": [
                    "projetos : Dados relativos a Projetos"
                ],
                "summary": "Retorna todos os segmentos disponíveis",
                "operationId": "projet_segments",
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Segmento"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Segmentos indisponiveis",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/propostas/": {
            "get": {
                "tags": [
                    "propostas : Dados relativos à Propostas de projetos"
                ],
                "summary": "Busca propostas dado uma combinação de valores diversos de pesquisa",
                "operationId": "proposta_list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Número de propostas a serem retornados",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "minimum": 1,
                        "maximum": 100
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Número de paginação de resultados",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0
                    },
                    {
                        "in": "query",
                        "name": "nome",
                        "description": "Nome do projeto (valor exato ou parcial)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "data_inicio",
                        "description": "Data de início no formato aaaa-mm-dd",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "in": "query",
                        "name": "data_termino",
                        "description": "Data de finalização no formato aaaa-mm-dd",
                        "required": false,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Proposta"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            },
                            "X-Total-Count": {
                                "description": "Número total de objetos que atendem seu critério de busca",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Propostas com esses parâmetros não encontrados",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "Parametros fornecidos invalidos",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/propostas/{id}/": {
            "get": {
                "tags": [
                    "propostas : Dados relativos à Propostas de projetos"
                ],
                "summary": "Dados detalhados de uma proposta",
                "operationId": "proposta_detail",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "description": "id da proposta",
                        "required": true,
                        "type": "string",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "$ref": "#/definitions/Proposta"
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            },
                            "X-Total-Count": {
                                "description": "Número total de objetos que atendem seu critério de busca",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Proposta com ID fornecido nao encontrado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "Parametro fornecido invalido",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/incentivadores/": {
            "get": {
                "tags": [
                    "incentivadores : Dados relativos a Incentivadores"
                ],
                "summary": "Busca incentivadores dado uma combinação de valores diversos de pesquisa",
                "operationId": "Donators related data",
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Número de incentivadores a serem retornados",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "minimum": 1,
                        "maximum": 100
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Número de paginação de resultados",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0
                    },
                    {
                        "in": "query",
                        "name": "nome",
                        "description": "Nome do incentivador (valor exato ou parcial)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "cgccpf",
                        "description": "Cgc/Cpf do incentivador",
                        "required": false,
                        "type": "string",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "municipio",
                        "description": "Cidade do incentivador (valor exato ou parcial)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "UF",
                        "description": "Estado do incentivador no formato EE ",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "tipo_pessoa",
                        "description": "Tipo de pessoa",
                        "enum": [
                            "fisica",
                            "juridica"
                        ],
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "PRONAC",
                        "description": "Número do PRONAC",
                        "required": false,
                        "type": "string",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Incentivador"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            },
                            "X-Total-Count": {
                                "description": "Número total de objetos que atendem seu critério de busca",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Nenhum incentivador encontrado com esses criterios",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "Parametros fornecidos invalidos",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/incentivadores/{url_id}/doacoes": {
            "get": {
                "tags": [
                    "incentivadores : Dados relativos a Incentivadores"
                ],
                "summary": "Dado o CGC ou CPF de um doador, retorna informações relativas a todas as doações feitas",
                "operationId": "donator_donations",
                "parameters": [
                    {
                        "in": "path",
                        "name": "url_id",
                        "description": "id de identificação do incentivador",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Doacao"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Incentivador com cgccpf fornecido não encontrado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "cgccpf inválido",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/fornecedores/": {
            "get": {
                "tags": [
                    "fornecedores : Dados relativos a Fornecedores"
                ],
                "summary": "Busca fornecedores dado uma combinação de valores diversos de pesquisa",
                "operationId": "Suppliers related data",
                "parameters": [
                    {
                        "in": "query",
                        "name": "nome",
                        "description": "Nome do incentivador (valor exato ou parcial)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "cgccpf",
                        "description": "Cgc/Cpf do incentivador",
                        "required": false,
                        "type": "string",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "PRONAC",
                        "description": "Número do PRONAC",
                        "required": false,
                        "type": "string",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Número de fornecedores a serem retornados",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "minimum": 1,
                        "maximum": 100
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Número de paginação de resultados",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Fornecedor"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            },
                            "X-Total-Count": {
                                "description": "Número total de objetos que atendem seu critério de busca",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Fornecedor com cgccpf ou PRONAC fornecido não encontrado",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "PRONAC ou cgccpf inválido",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/fornecedores/{url_id}/produtos": {
            "get": {
                "tags": [
                    "fornecedores : Dados relativos a Fornecedores"
                ],
                "summary": "Dado o CGC, CPF ou CNPJ de um fornecedor, retorna informações relativas a todas os ítens ou serviços fornecidos por ele",
                "operationId": "supplier_products",
                "parameters": [
                    {
                        "in": "path",
                        "name": "url_id",
                        "description": "id de identificação do fornecedor",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Produto"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Nenhum item encontrado referente ao fornecedor com cgccpf fornecido",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "cgccpf inválido",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/proponentes/": {
            "get": {
                "tags": [
                    "proponentes : Dados relativos a Proponentes"
                ],
                "summary": "Busca proponentes dado uma combinação de valores diversos de pesquisa",
                "operationId": "proponente",
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Número de proponentes a serem retornados",
                        "required": false,
                        "type": "integer",
                        "default": 100,
                        "minimum": 1,
                        "maximum": 100
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Número de paginação de resultados",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0
                    },
                    {
                        "in": "query",
                        "name": "nome",
                        "description": "Nome do proponente",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "cgccpf",
                        "description": "Cgc/Cpf do proponente",
                        "required": false,
                        "type": "string",
                        "format": "int64"
                    },
                    {
                        "in": "query",
                        "name": "url_id",
                        "description": "id de identificacao do proponente",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "in": "query",
                        "name": "municipio",
                        "description": "Cidade",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "UF",
                        "description": "Estado",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "tipo_pessoa",
                        "description": "Tipo de pessoa",
                        "enum": [
                            "fisica",
                            "juridica"
                        ],
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação bem-sucedida",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Proponente"
                            }
                        },
                        "headers": {
                            "X-Rate-Limit-Limit": {
                                "description": "Número de requisições permitidas no período",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Remaining": {
                                "description": "Número de requisições restantes na janela de limite atual",
                                "type": "integer"
                            },
                            "X-Rate-Limit-Reset": {
                                "description": "Tempo para que a janela de limite resete em segundos UTC epoch",
                                "type": "integer"
                            },
                            "Retry-After": {
                                "description": "Segundos para tentar novamente ou a data http quando a janela de limite será resetada",
                                "type": "integer"
                            },
                            "X-Total-Count": {
                                "description": "Número total de objetos que atendem seu critério de busca",
                                "type": "integer"
                            }
                        }
                    },
                    "404": {
                        "description": "Nenhum proponente com criterios fornecidos encontrados",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "405": {
                        "description": "Parametros fornecidos inválidos",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "503": {
                        "description": "Erro interno",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ProjetoList": {
            "type": "object",
            "properties": {
                "PRONAC": {
                    "type": "string",
                    "format": "int64"
                },
                "ano_projeto": {
                    "type": "string"
                },
                "nome": {
                    "type": "string"
                },
                "cgccpf": {
                    "type": "string",
                    "format": "int64"
                },
                "proponente": {
                    "type": "string"
                },
                "segmento": {
                    "type": "string"
                },
                "area": {
                    "type": "string"
                },
                "UF": {
                    "type": "string"
                },
                "municipio": {
                    "type": "string"
                },
                "data_inicio": {
                    "type": "string",
                    "format": "date"
                },
                "data_termino": {
                    "type": "string",
                    "format": "date"
                },
                "situacao": {
                    "type": "string"
                },
                "mecanismo": {
                    "type": "string"
                },
                "enquadramento": {
                    "type": "string"
                },
                "valor_projeto": {
                    "type": "number",
                    "format": "double"
                },
                "outras_fontes": {
                    "type": "number",
                    "format": "double"
                },
                "valor_captado": {
                    "type": "number",
                    "format": "double"
                },
                "valor_proposta": {
                    "type": "number",
                    "format": "double"
                },
                "valor_solicitado": {
                    "type": "number",
                    "format": "double"
                },
                "valor_aprovado": {
                    "type": "number",
                    "format": "double"
                },
                "acessibilidade": {
                    "type": "string"
                },
                "objetivos": {
                    "type": "string"
                },
                "justificativa": {
                    "type": "string"
                },
                "etapa": {
                    "type": "string"
                },
                "ficha_tecnica": {
                    "type": "string"
                },
                "impacto_ambiental": {
                    "type": "string"
                },
                "especificacao_tecnica": {
                    "type": "string"
                },
                "estrategia_execucao": {
                    "type": "string"
                },
                "providencia": {
                    "type": "string"
                },
                "democratizacao": {
                    "type": "string"
                },
                "sinopse": {
                    "type": "string"
                },
                "resumo": {
                    "type": "string"
                }
            }
        },
        "MarcaAnexada": {
            "type": "object",
            "properties": {}
        },
        "Pedido": {
            "type": "object",
            "properties": {}
        },
        "Divulgacao": {
            "type": "object",
            "properties": {
                "peca": {
                    "type": "string"
                },
                "veiculo": {
                    "type": "string"
                }
            }
        },
        "Prorrogacao": {
            "type": "object",
            "properties": {}
        },
        "Distribuicao": {
            "type": "object",
            "properties": {}
        },
        "DocumentoAnexado": {
            "type": "object",
            "properties": {}
        },
        "CertidaoNegativa": {
            "type": "object",
            "properties": {}
        },
        "RelacaoPagamento": {
            "type": "object",
            "properties": {}
        },
        "Parecer": {
            "type": "object",
            "properties": {}
        },
        "RelatorioFisco": {
            "type": "object",
            "properties": {}
        },
        "ProjetoDetail": {
            "type": "object",
            "properties": {
                "PRONAC": {
                    "type": "string",
                    "format": "int64"
                },
                "ano_projeto": {
                    "type": "string"
                },
                "nome": {
                    "type": "string"
                },
                "cgccpf": {
                    "type": "string",
                    "format": "int64"
                },
                "proponente": {
                    "type": "string"
                },
                "segmento": {
                    "type": "string"
                },
                "area": {
                    "type": "string"
                },
                "UF": {
                    "type": "string"
                },
                "municipio": {
                    "type": "string"
                },
                "data_inicio": {
                    "type": "string",
                    "format": "date"
                },
                "data_termino": {
                    "type": "string",
                    "format": "date"
                },
                "situacao": {
                    "type": "string"
                },
                "mecanismo": {
                    "type": "string"
                },
                "enquadramento": {
                    "type": "string"
                },
                "valor_projeto": {
                    "type": "number",
                    "format": "double"
                },
                "outras_fontes": {
                    "type": "number",
                    "format": "double"
                },
                "valor_captado": {
                    "type": "number",
                    "format": "double"
                },
                "valor_proposta": {
                    "type": "number",
                    "format": "double"
                },
                "valor_solicitado": {
                    "type": "number",
                    "format": "double"
                },
                "valor_aprovado": {
                    "type": "number",
                    "format": "double"
                },
                "acessibilidade": {
                    "type": "string"
                },
                "objetivos": {
                    "type": "string"
                },
                "justificativa": {
                    "type": "string"
                },
                "etapa": {
                    "type": "string"
                },
                "ficha_tecnica": {
                    "type": "string"
                },
                "impacto_ambiental": {
                    "type": "string"
                },
                "especificacao_tecnica": {
                    "type": "string"
                },
                "estrategia_execucao": {
                    "type": "string"
                },
                "providencia": {
                    "type": "string"
                },
                "democratizacao": {
                    "type": "string"
                },
                "sinopse": {
                    "type": "string"
                },
                "resumo": {
                    "type": "string"
                },
                "marcas_anexadas": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/MarcaAnexada"
                    }
                },
                "divulgacao": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Divulgacao"
                    }
                },
                "relatorio_fisco": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RelatorioFisco"
                    }
                },
                "relacao_pagamentos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RelacaoPagamento"
                    }
                },
                "certidoes_negativas": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CertidaoNegativa"
                    }
                },
                "readequacoes": {
                    "type": "object",
                    "properties": {
                        "pedidos": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Pedido"
                            }
                        },
                        "pareceres": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Parecer"
                            }
                        }
                    }
                },
                "documentos_anexados": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DocumentoAnexado"
                    }
                },
                "distribuicao": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Distribuicao"
                    }
                },
                "prorrogacao": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Prorrogacao"
                    }
                },
                "captacoes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Captacao"
                    }
                }
            }
        },
        "Proposta": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "nome": {
                    "type": "string"
                },
                "mecanismo": {
                    "type": "string"
                },
                "data_aceite": {
                    "type": "string",
                    "format": "date"
                },
                "data_inicio": {
                    "type": "string",
                    "format": "date"
                },
                "data_termino": {
                    "type": "string",
                    "format": "date"
                },
                "data_arquivamento": {
                    "type": "string",
                    "format": "date"
                },
                "acessibilidade": {
                    "type": "string"
                },
                "objetivos": {
                    "type": "string"
                },
                "justificativa": {
                    "type": "string"
                },
                "etapa": {
                    "type": "string"
                },
                "ficha_tecnica": {
                    "type": "string"
                },
                "impacto_ambiental": {
                    "type": "string"
                },
                "especificacao_tecnica": {
                    "type": "string"
                },
                "estrategia_execucao": {
                    "type": "string"
                },
                "providencia": {
                    "type": "string"
                },
                "democratizacao": {
                    "type": "string"
                },
                "sinopse": {
                    "type": "string"
                },
                "resumo": {
                    "type": "string"
                }
            }
        },
        "Proponente": {
            "type": "object",
            "properties": {
                "nome": {
                    "type": "string"
                },
                "cgccpf": {
                    "type": "string",
                    "format": "int64"
                },
                "responsavel": {
                    "type": "string"
                },
                "tipo_pessoa": {
                    "type": "string"
                },
                "UF": {
                    "type": "string"
                },
                "municipio": {
                    "type": "string"
                }
            }
        },
        "Incentivador": {
            "type": "object",
            "properties": {
                "nome": {
                    "type": "string"
                },
                "responsavel": {
                    "type": "string"
                },
                "cgccpf": {
                    "type": "string",
                    "format": "int64"
                },
                "tipo_pessoa": {
                    "type": "string"
                },
                "UF": {
                    "type": "string"
                },
                "municipio": {
                    "type": "string"
                },
                "total_doado": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "Doacao": {
            "type": "object",
            "properties": {
                "PRONAC": {
                    "type": "string",
                    "format": "int64"
                },
                "valor": {
                    "type": "number",
                    "format": "double"
                },
                "data_recibo": {
                    "type": "string",
                    "format": "date"
                },
                "nome_projeto": {
                    "type": "string"
                }
            }
        },
        "Captacao": {
            "type": "object",
            "properties": {
                "valor": {
                    "type": "number",
                    "format": "double"
                },
                "data_recibo": {
                    "type": "string",
                    "format": "date"
                },
                "nome_doador": {
                    "type": "string"
                },
                "cgccpf": {
                    "type": "string",
                    "format": "int64"
                }
            }
        },
        "Fornecedor": {
            "type": "object",
            "properties": {
                "nome": {
                    "type": "string"
                },
                "cgccpf": {
                    "type": "string",
                    "format": "int64"
                },
                "email": {
                    "type": "string",
                    "format": "email"
                }
            }
        },
        "Produto": {
            "type": "object",
            "properties": {
                "id_planilha_aprovacao": {
                    "type": "integer"
                },
                "justificativa": {
                    "type": "string"
                },
                "data_pagamento": {
                    "type": "string",
                    "format": "date"
                },
                "nome": {
                    "type": "string"
                },
                "cgccpf": {
                    "type": "string"
                },
                "data_aprovacao": {
                    "type": "string",
                    "format": "date"
                },
                "valor_pagamento": {
                    "type": "number",
                    "format": "double"
                },
                "nm_arquivo": {
                    "type": "string"
                },
                "id_arquivo": {
                    "type": "integer"
                },
                "nome_fornecedor": {
                    "type": "string"
                },
                "id_comprovante_pagamento": {
                    "type": "integer"
                },
                "nr_documento_pagamento": {
                    "type": "string"
                },
                "tipo_documento": {
                    "type": "string"
                }
            }
        },
        "Area": {
            "type": "object",
            "properties": {
                "codigo": {
                    "type": "integer"
                },
                "nome": {
                    "type": "string"
                }
            }
        },
        "Segmento": {
            "type": "object",
            "properties": {
                "codigo": {
                    "type": "integer"
                },
                "nome": {
                    "type": "string"
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                },
                "more_info": {
                    "type": "string"
                }
            }
        }
    }
}